@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald/oswald-light.woff2') format('woff2'),
         url('fonts/oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldmedium';
    src: url('fonts/oswald/oswald-medium.woff2') format('woff2'),
         url('fonts/oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
    src: url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*  Default */
.btn-primary{background: #132127; color:#fff; border: 0px; text-shadow: none;}
.btn-primary:hover{background-color: #f3f3f4; color: #132127; text-shadow: none;}
.btn-default{background: #132127; color:#fff; border: 0px; text-shadow: none;}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{background-color: #f3f3f4; color: #132127; text-shadow: none;}
.input-group-addon{background: #132127; color:#fff; border: 0px; text-shadow: none;}
.btn-link, .btn-link:active, .btn-link[disabled]{color:#132127;}
select{
    background: url("catalog/view/theme/default/image/bgSelect.png") no-repeat scroll 100% 50% !important;
    border-radius: 3px !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
}
select {
    -webkit-appearance: none !important;
       -moz-appearance: none !important;
            appearance: none !important;
}

select:focus {
    outline: none !important;
}

html,body{overflow-x: hidden; font-family: open_sansregular;}
a{color:#132127;}
h3,h2,h1{font-family: oswaldmedium;}
#top{background-color:#f3f3f4; margin-bottom: 57px; border-bottom:0px; }
#top .btn-link, #top-links li, #top-links a{color:#132127; text-shadow:none;}
#top .btn-link, #top-links li, #top-links a:hover{color:#132127;}
#top .btn-link:hover, #top-links a:hover{color:#000;}
.dropdown-menu{background: #132127; color:#fff;}
.dropdown-menu a{color:#fff !important;}
#top #form-currency .currency-select:hover, #top #form-language .language-select:hover{background: #e9eaeb; color: #132127;}
.dropdown-menu li > a:hover{background: #e9eaeb; color: #132127 !important;}
header{background: #ffffff; min-height: 100px;}
#search .input-lg{background: #fff; color:#fff; border: 1px solid #132127;}
#search .btn-lg{background: #132127; color: #fff; text-shadow: none; border: 1px solid #132127;}
#cart > .btn{background: #132127; color: #fff; text-shadow: none;}
#cart.open > .btn{background: #e9eaeb; color: #132127;}
#cart .dropdown-menu{background: #e9eaeb; color: #132127;}
#cart .dropdown-menu a{color:#000 !important;}
#menu{background: #132127; color: #ffffff; border-color:#132127 !important; min-height: 50px; margin-bottom: 0px; border-radius: 0px;}
#search .input-lg:focus{border-style: solid dotted;}
.navbar-collapse{min-height: 56px;}
#menu .nav > li > a{line-height: 36px; font-size: 18px; font-family: oswaldlight; text-transform: uppercase;
-webkit-transition:all 0.1s ease-in-out;
-moz-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
transition:all 0.1s ease-in-out;
}
.navbar{border-radius: 0px;}
#top .btn-group{border: 1px solid #132127;}
#top .btn-group:hover{border: 1px solid #fff;}
#search .input-group-btn .btn-lg:hover{background-color: #f3f3f4; color: #132127;}
#cart > .btn:hover{background-color: #f3f3f4; color: #132127;}
.navbar-nav > li > a:hover{background:rgba(255,255,255,0.1) !important;}
#menu .dropdown-inner a{color: #fff;}
#menu .see-all:hover{background: #e9eaeb; color: #132127 !important;}
#menu .btn-navbar,#menu .btn-navbar:hover{background-color:#fff; background-image: none; color: #000; }
#logo{margin-top: -30px;}
#search .input-lg{color: #132127;}
.customizado{background-color:#132127;  }
.customizado nav{max-width: 1140px; margin:0 auto; padding-left:-15px; padding-right:-15px; }
.breadcrumb{margin-top: 20px; background:none; border:0px;}
.breadcrumb > li::after{border-bottom-color: #132127; border-right-color: #132127; width: 16px; height: 16px; top:2px;}
.breadcrumb > li:first-child{padding: 0 15px 0 0;}
.breadcrumb > li a{font-family: oswaldlight; font-size: 14px;}
footer h5{font-weight: normal; font-family: oswaldlight; font-size: 15px;}
.nav-tabs > li > a{background: #f3f3f4; color:#132127; border: 0px; border-radius: 0px; font-family: oswaldlight; font-size: 14px; margin-right: 0px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{background-color: #132127; color: #fff;}
.alert-info{background: #f3f3f4; color:#132127; border-color: #f3f3f4;}
.owl-controls{display: none !important;}
.owl-carousel{margin-bottom: 2px !important;}
.alert-success{background-color:#132127; position: absolute; left: 0px; top:0px; width: 100%; color: #fff;}
.alert-success a{color: #e9eaeb;}
.alert-success .close{color: #fff; opacity: 0.9; text-shadow: none;}
.btn-danger{background: #CD3333; color: #fff; text-shadow: none; border: 0px;}
.btn-info{background: #132127; color: #fff; text-shadow: none; border: 0px;}
.btn-info:hover{background: #f3f3f4; color: #132127;}


/* Produto */
.product-thumb{border: none;}
.product-thumb{margin-bottom: 10px; overflow: hidden;}
.product-thumb h4 a{color: #7e8589; font-family: oswaldlight; font-weight: normal;}
.product-thumb p:first-of-type{display: none;}
.product-thumb .caption{text-align: center; min-height: 100px;}
.product-thumb p.price{font-size: 22px; color: #132127; font-family: oswaldlight;}
.product-thumb p.price .price-old{font-size: 15px; color: red;}
.product-thumb .button-group{background-color: #fff; border-top:0px;}
.product-thumb .button-group button{background-color: #e9eaeb;}
.product-thumb .button-group button:first-child{background-color: #132127; color: #fff; font-family: oswaldlight; font-weight: normal; font-size: 15px;}
.product-thumb .button-group button:first-child i{font-size: 15px;}
.product-thumb .button-group button:first-child:hover{color: #e9eaeb;}
.product-thumb .button-group{display: none;}
.product-thumb{
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.2);
    position: relative;
}
.product-thumb:hover{
    -webkit-box-shadow: 0px 0px 10px -3px rgba(19,33,39,0.5);
    -moz-box-shadow: 0px 0px 10px -3px rgba(19,33,39,0.5);
    box-shadow: 0px 0px 10px -3px rgba(19,33,39,0.5);
}

#product h3 {
    padding: 15px 25px;
    background: #f7f7f7;
    margin: 0;
    font-weight: 700;
    color: #f15d28;
}
#product .form-group{
    border-bottom: 1px solid #f1efef;
    margin-bottom: 0;
}
#product .form-group label{
    color: #000;
    font-size: 14px;
}
.product-item-2>label{
    padding: 20px 5px 0 30px;
}
#product .form-group>label{
    padding: 0 5px 0 30px;
}
#product .form-group label+div{
    padding-left: 48px;
}
#product .form-group{
    text-align: right;
}
#product .form-group>label{
    padding: 26px;
    float: left;
    color: #000;
    font-size: 14px;
}
div#product .form-group{
    height: 72px;
    background: #f7f7f7;
}
div#product .form-group input#input-quantity{
    display: inline-block;
    text-align: center;
    width: 100px;
}
div#product .form-group button#button-cart{
    display: inline-block;
    margin: 15px;
    border: none;
}
.fa-star{color:#FF8C00;}
.fa-star-o{color:#FF8C00;}
.module .form-sd h2 {
    color: #0590a0;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 17px;
}
.form-sd .buttons {
    margin: 0;
}
.form-sd .buttons .btn-primary {
    border: medium none;
    font-size: 15px;
    font-weight: 400;
    padding: 9px 18px;
}
.form-sd {
    background: #f7f7f7 none repeat scroll 0 0;
    border-right: 10px none;
    padding: 25px;
}
.etiqueta {
    color: #fff;
    float: left;
    font-size: 12px;
    height: 35px;
    margin: 25px 0;
    overflow: hidden;
    width: 100%;
}
.etiqueta span > img {
    float: left;
}
.etiqueta > span {
    display: block;
    position: relative;
    z-index: 33;
}
.etiqueta > span > span {
    background: #132127 none repeat scroll 0 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    height: 35px;
    padding: 8px 6px 0 15px;
}
.etiqueta a {
    color: #fff;
    cursor: pointer;
    float: left;
    margin-left: -25px;
    position: relative;
}
.etiqueta > span + a {
    margin-left: -45px;
}
.etiqueta a > span {
    background: #f3f3f4 none repeat scroll 0 0;
    float: left;
    height: 35px;
    padding: 8px 13px 0 75px;
    color: #132127;
}
.etiqueta a img {
    position: absolute;
    right: -21px;
    top: 0;
}
.etiqueta a:hover span {
    background: #132127 none repeat scroll 0 0;
    color: #fff;
}
.etiqueta a:hover img {
    top: -35px;
}

/* Flash */
.product-thumb:hover .image img {-webkit-animation: flash 1.5s;animation: flash 1.5s;}
.box_qtde{background: #f3f3f4; padding:10px;}
.box_qtde .form-control{display: inline; width: 200px;}
.product-thumb .button-group{display: inherit; opacity: 0; bottom: -50px; position: absolute; width: 100%;
-webkit-transition:all 0.2s ease-in-out;
-moz-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;
}
.product-thumb:hover .button-group{bottom: 0px; opacity: 1;}
.product-category-59 .product-list .product-thumb .caption{text-align: left;}
.product-category-59 .product-list .product-thumb .button-group{bottom: 0px; position: absolute; width: 250px; right: 0px;}

/* Quem somos */
.information-information-4 h1{text-transform: uppercase; font-family: open_sanssemibold; padding-bottom: 20px;}

/* Pesquisa Automatica */
.live-search .result-text{background-color:#132127 !important;}
.live-search .result-text a{color: #fff !important;}
.live-search{padding-bottom: 30px !important;}


/* Bloco Home */
.destaques {
    background: #f3f3f4 none repeat scroll 0 0;
    border-top: 4px solid #fff;
}
.destaques h3 {
    color: #132127;
    padding: 15px 0;
    text-align: center;
}
.destaques .box {
    border-left: 1px solid #d8d8d8;
    margin-bottom: 35px;
    text-align: center;
}
.destaques .box:first-child {
    border-color: #f6f6f6;
}
.destaques span {
    color: #000;
    display: block;
}
.destaques .t {
    font-size: 16px;
    font-weight: bold;
}
.destaques .subtitulo {
    font-size: 7px;
}

/* Cadastrar */
.list-group a {
    background: #f3f3f4 none repeat scroll 0 0;
    border-radius: 0;
    font-size: 15px;
    margin-bottom: 1px;
    padding: 13px;
}
.list-group a:hover {
    background: #132127 none repeat scroll 0 0;
    color: #fff;
}

/* Footer */
footer {
    margin-top: 30px;
}
.common-home footer {
    margin-top: 0;
    padding-top: 30px;
}
footer ul {
    margin-bottom: 30px;
}
footer hr {
    border-bottom: 1px solid #666;
    border-top: medium none;
}

footer h5 {
    font-size: 13px;
    text-transform: uppercase;
}
footer #powered {
    margin-top: 30px;
}
footer #powered p {
    margin: 0;
}
footer #powered > div > div {
    margin: 20px auto;
}
footer #powered div.container div.row div p {
    color: #fff;
    font-size: 11px;
}
footer ul#pagamentos, footer ul#redes-sociais {
    list-style: outside none none;
    padding: 0;
}
footer ul#redes-sociais li {
    float: left;
    margin-right: 5px;
}
footer ul#redes-sociais li a {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #4145a8;
    border-radius: 5px;
    color: #4145a8;
    cursor: pointer;
    display: block;
    height: 40px;
    min-width: 40px;
    padding: 7px;
    text-align: center;
}
footer ul#redes-sociais li a.instagram {
    border: 1px solid #7e45ba;
    color: #7e45ba;
}
footer ul#redes-sociais li a.pinterest {
    border: 1px solid #cb2027;
    color: #cb2027;
}
footer ul#redes-sociais li a i {
    font-size: 25px;
}
footer .marca-footer {
    display: inline-block;
    margin: 10px 40px 55px 0px;
}
footer .group-footer {
    margin-top: 30px;
}
footer .rodape a {
    float: right;
}

@media (max-width: 359px){
  div#product .form-group button#button-cart{margin:20px 5px;}
  footer .group-marca-rodape {
      text-align: center;
  }
}


@-webkit-keyframes flash {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
