<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-featured" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_status; ?></label>
                        <div class="col-sm-10">
                            <select name="instagram_status" id="input-status" class="form-control">
                                <?php if ($instagram_status) { ?>
                                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                <option value="0"><?php echo $text_disabled; ?></option>
                                <?php } else { ?>
                                <option value="1"><?php echo $text_enabled; ?></option>
                                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $module_token_title; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="instagram_module_token" value="<?php echo $module_token_title_value; ?>" placeholder="<?php echo $module_token_placeholder; ?>" id="input-name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $module_id_title; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="instagram_module_id" value="<?php echo $module_id_title_value; ?>" placeholder="<?php echo $module_id_placeholder; ?>" id="input-name" class="form-control"/>
                            <span><a id="obterID" href="javascript:;">Clique aqui para obter o id</a></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $instagram_username; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="instagram_username" value="<?php echo $instagram_username_value; ?>" placeholder="<?php echo $instagram_username_placeholder; ?>" id="input-name" class="form-control" required/>
                            <span>Nome do usuário</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name"><?php echo $limit_text; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="instagram_limit" value="<?php echo $instagram_limit_value; ?>" placeholder="<?php echo $limit_text_placeholder; ?>" id="input-name" class="form-control" required/>
                            <span>Máximo de 20 fotos</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        $("#obterID").click(function(e){
            e.preventDefault();
            var $token = $("input[name=instagram_module_token]").val();
            
            if($token){
                $.ajax({
                    method: "GET",
                    url: "https://api.instagram.com/v1/users/self/?access_token="+$token,
                    dataType: "jsonp",
                    success: function(data) {
                        console.log(data.meta.code);
                        if(data.meta.code == 200){
                            $("input[name=instagram_module_id]").val(data.data.id);
                        }else{
                            alert("Um erro inesperado aconteceu.");
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("Um erro inesperado aconteceu.");
                        $("input[name=instagram_module_token]").focus();
                    }
                });
            }else{
                alert("Por favor, preencha o campo token.");
            }
        });
    </script>
<?php echo $footer; ?>
