.pav-categoryproducts ul,
.pav-categoryproducts ol{
	list-style: none;
}
.pav-categoryproducts ul li a{
    display: block;
    cursor: pointer;
}

.pav-categoryproducts ul li a span{
    cursor: text;
}
.pav-categoryproducts .product-grid .row{
    padding: 0;
}
.pav-categoryproducts .tab-pane{
	position: relative;
   
}
.pav-categoryproducts{
	position: relative;
    margin-top: 8px;
    border-radius: 4px;
}
.pav-categoryproducts .tab-content{
    background-color: #FFF;
}
.pav-categoryproducts .box-heading{
    padding: 0;
}
 
.box-wapper{
    border-radius: 0 9px 0 0;
}
.box-wapper .box-heading > spaaan {
	background-color: #353d41;
    position: absolute;
    top: -30px;
    z-index: 1000;
}

.tab-content.blue{
    border-top: 2px solid #353d41;
}
.tab-content.cyan{
    border-top: 2px solid #353d41;
}
.tab-content.green{
    border-top: 2px solid #353d41;
}
.tab-content.red{
    border-top: 2px solid #353d41;
}

.blue .box-heading > span{
    background-color: #353d41;
}
.cyan .box-heading > span{
    background-color: #353d41;
}
.green .box-heading > span{
    background-color: #353d41;
}
.red .box-heading > span{
    background-color: #353d41;
}